@model Systematycznosc.ViewModels.QuestionViewModel

<div class="numberlist">
    <div style="font-size:37px; text-align:center; color:black;">Najważniejsze rzeczy, którymi kierujesz się każdego dnia:</div>
    <ol>
        @{
            if (Model.EveningQuestions != null)
            {
                foreach (var morningQuestion in Model.EveningQuestions.Where(x => x.EveningQuestionValue != null && x.EveningQuestionValue != ""))
                {
                    {
                        <li style="text-align:left;">
                            <a>@morningQuestion.EveningQuestionValue</a>
                        </li>
                    }
                }
            }
        }
    </ol>
</div>
