body {
    background-image: url(../Content/Images/EmptyPage.jpg);
    /*background-color: #1abc9c;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

html, body {
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#navbar-top {
    min-height: 96px;
    max-height: 96px;
    padding: 24px;
    font-weight: 700;
    background-color: #2c3e50;
}

a:hover {
    color: #1abc9c !important;
}

a:focus {
    color: white;
}

footer {
    background-color: #1a252f !important;
    color: white;
    min-height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    line-height: 50px;
   
}

#CredoDiv {
    /*background-color: lightsalmon !important;*/
    background-image: url(../Content/Images/grey_wash_wall.jpg);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 114px;
    padding-bottom: 0px;
    height: 100%;
    position: absolute;
    width: inherit;
}

.numberlist {
    width: auto;
}

    .numberlist ol {
        counter-reset: li;
        list-style: none;
        *list-style: decimal;
        font: 15px 'trebuchet MS', 'lucida sans';
        padding: 0;
        margin-bottom: 4em;
    }

        .numberlist ol ol {
            margin: 0 0 0 2em;
        }

    .numberlist a {
        font-size: 25px !important;
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        /*background-color: #2c3e50;*/
        background-color: lightslategray;
        color: #FFF;
        text-decoration: none;
        -moz-border-radius: .3em;
        -webkit-border-radius: .3em;
        border-radius: .3em;
    }

        .numberlist a:hover {
            background: #cbe7f8;
            text-decoration: underline;
        }

        .numberlist a:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            /*background: #87ceeb;*/
            background-color: lightcoral;
            height: 2em;
            width: 2em;
            /*line-height: 2em;*/
            line-height: 37px;
            border: .3em solid #fff;
            text-align: center;
            font-weight: bold;
            -moz-border-radius: 2em;
            -webkit-border-radius: 2em;
            border-radius: 2em;
            /*color: #FFF;*/
            color: gold;
            
        }

#HoverNone {
    text-decoration: none !important;
}

#HomeSection1 {
    align-items: center !important;
    color: #fff !important;
    text-align: center !important;
    background-color: #1abc9c !important;

}
#HomeSection2 {
    align-items: center !important;
    color: black !important;
    text-align: center !important;
    background-color: #fff !important;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .divider-custom .divider-custom-line {
        width: 100%;
        max-width: 7rem;
        height: 0.25rem;
        background-color: #2c3e50;
        border-radius: 1rem;
        border-color: #2c3e50 !important;
    }

        .divider-custom .divider-custom-line:first-child {
            margin-right: 1rem;
        }

        .divider-custom .divider-custom-line:last-child {
            margin-left: 1rem;
        }

    .divider-custom .divider-custom-icon {
        color: #2c3e50 !important;
        font-size: 2rem;
    }

    .divider-custom.divider-light .divider-custom-line {
        background-color: #fff;
    }

    .divider-custom.divider-light .divider-custom-icon {
        color: #fff !important;
    }