
@model Systematycznosc.ViewModels.GoalsViewModel

@{ if (Model.EGoalName != null)
    { <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top: 55px; text-align:center;">@Model.EGoalName</h1>}
else
{ <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; padding-top: 55px; text-align:center;">Twój cel nr 5</h1>}
}

<!-- Icon Divider -->
<div class="divider-custom">
    <div class="divider-custom-line" style="background-color:white!important; width:70px;"></div>
    <div class="divider-custom-icon">
        <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
    </div>
    <div class="divider-custom-line" style="background-color:white!important; width:70px;"></div>
</div>
@{ if (Model.EGoalQuestion != null)
    {
        <div style="font-size:37px; text-align:center; padding-bottom:50px;">@Model.EGoalQuestion</div>}
    else
    {
        <div style="        font-size: 37px;
        text-align: center;
        padding-bottom: 50px;">Pytanie odnośnie celu</div>
    }
}