@model Systematycznosc.ViewModels.CredoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="">
    
    <div class="numberlist" id="CredoDiv">
        <div style="color:white">Czyli najważniejszy rzeczy którymi się kierujesz.</div>
        <ol>
            <li><a href="">To ja jestem odpowiedzialny za swoje życie.</a></li>
            <li><a href="">2. To co myslę mnie spotyka.</a></li>
            <li><a href="">3. Mój los zależy od moich nawyków.</a></li>
            <li><a href="">4. Pamiętam kogo Kocham.</a></li>
            <li><a href="">5. Dbam o rodzinę i przyjaciół.</a></li>
            <li><a href="">6. Siła jest iluzją perswazji.</a></li>
            <li><a href="">7. Jestem pewny siebie.</a></li>
            <li><a href="">8. To ja stawiam warunki.</a></li>
        </ol>
    </div>
</div>
    </div>