@model Systematycznosc.ViewModels.CredoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CredoDiv">
    <div class="numberlist">
        <div style="color:gold; font-size:55px; text-align:center;">CREDO</div>
        <div style="color:white; font-size:37px; text-align:center;">Najważniejszy rzeczy którymi kierujesz się każdego dnia:</div>
        <ol>
            
            @for (int i = 1; i < 11; i++)
            {
                if (Model.Credo1 == null)
                {
                    <li><a href="">@Model.Credo1</a></li>
                }
            }
        </ol>
    </div>
    <div>Dodaj/Edytuj</div>
</div>

