@model UserProfileViewModel
@using Systematycznosc.ViewModels


<div id="CredoDiv" style="padding-left: 0px;padding-right: 0px; padding-top:95px;">
    <div id="HomeSection1">
        <header class="masthead  text-white text-center">
            <div class=" d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">

                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>

                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="glyphicon glyphicon-star" style="font-size: 55px;"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Masthead Subheading -->
                <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>

            </div>
        </header>
    </div>
</div>
