@model Systematycznosc.ViewModels.TodoViewModel

<div style="font-size:37px; text-align:center; color:black;">Warto o nich pamiętać:</div>
@{
    if (Model.ImportantEvents != null)
    {
        <div class="mr-3 ml-3">
            <table id="table_id" class="table table-info table-hover table-striped" style="font-size:18px;">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 300px">Nazwa:</th>
                        <th style="width: 300px">Data: (M/D/R):</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var importantEvent in Model.ImportantEvents.Where(x => x.ImportantEventName != null && x.ImportantEventDate != null))
                    {
                        <tr>

                            <td>@importantEvent.ImportantEventName</td>
                            <td>
                                @importantEvent.ImportantEventDate.Value.ToString("MM/dd/yyyy")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
