@model Systematycznosc.ViewModels.TodoViewModel

<div class="numberlist">
    <div class="subtheard">Po ich wykonaniu poczujesz się lepiej</div>
    <ol>
        @{
            if (Model.Todoes != null)
            {
                foreach (var todo in Model.Todoes.Where(x => x.TodoValue != null && x.TodoValue != ""))
                {
                    {
                        <li style="text-align:left;">
                            <a>@todo.TodoValue</a>
                        </li>
                    }
                }
            }
        }
    </ol>
</div>