@model Systematycznosc.ViewModels.RelationshipViewModel

<div class="numberlist">
    <div style="font-size:37px; text-align:center;">Najważniejsze rzeczy, którymi kierujesz się każdego dnia:</div>
    <ol>
        @{
            if (Model.Relationships != null)
            {
                foreach (var relationship in Model.Relationships.Where(x => x.RelationshipValue != null && x.RelationshipValue != ""))
                {
                    {
                        <li style="text-align:left;">
                            <a>@relationship.RelationshipValue</a>
                        </li>
                    }
                }
            }
        }
    </ol>
</div>