@model Systematycznosc.ViewModels.CredoViewModel

<div class="numberlist">
    <div class="subtheard">Najważniejsze rzeczy, którymi kierujesz się każdego dnia</div>
    <ol>
        @{
            if (Model.Credos != null)
            {
                foreach (var credo in Model.Credos.Where(x => x.CredoValue != null && x.CredoValue != ""))
                {
                    {
                        <li style="text-align:left;">
                            <a>@credo.CredoValue</a>
                        </li>
                    }
                }
            }
        }
    </ol>
</div>