@using Systematycznosc.Models
@model Systematycznosc.ViewModels.CredoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body {
            background-color: #1abc9c
        }
    </style>
}


<div class=" d-flex align-items-center flex-column portfolio bg-primary text-white mb-0">

    <!-- Masthead Avatar Image -->
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" style="font-size:55px; text-align:center;" id="Opener">Credoes</h1>

    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color:white!important;"></div>
        <div class="divider-custom-icon">
            <i class="glyphicon glyphicon-star" style="font-size: 55px; color:white!important;"></i>
        </div>
        <div class="divider-custom-line" style="background-color:white!important;"></div>
    </div>
    <div class="numberlist">
        <div style="font-size:37px; text-align:center;">Najważniejszy rzeczy którymi kierujesz się każdego dnia</div>
        <ol>
            @{
                if (Model.Credos != null)
                {
                    foreach (var credo in Model.Credos)
                    {
                        if (credo != null)
                        {
                            string s = $"{credo.CredoValue}";
                            <li>
                                <a>@s</a>
                            </li>
                            
                        }
                    }
                }
            }
        </ol>
    </div>
</div>

<div style="max-width: 150px; margin-left:auto; margin-right:auto; padding-top: 50px; padding-bottom:50px;">
    <a href="@Url.Action("CredoEdit", "Credo")" id="HoverNone">
        <div class="glyphicon glyphicon-plus-sign" style="font-size: 150px; display:block; text-align:center; color: lightcoral; max-width: 150px; margin-left:auto; margin-right:auto"></div>
    </a>
</div>


