@model Systematycznosc.ViewModels.BirthdayViewModel

<div class="subtheard">Warto o nich pamiętać</div>
@{
    for (int i = 0; i < Model.FriendsBirthdays.Count(); i++)
    {
        if (Model.FriendsBirthdays[i].FriendBirthdayName != null)
        {
            <div class="mr-3 ml-3">
                <table id="table_id" class="table table-info table-hover table-striped" style="font-size:18px;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 300px">Nazwa:</th>
                            <th style="width: 300px">Data: (M/D/R):</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var friendBirthday in Model.FriendsBirthdays.Where(x => x.FriendBirthdayName != null && x.FriendBirthdayDate != null).OrderBy(x => x.FriendBirthdayDate))
                        {
                            <tr>

                                <td>@friendBirthday.FriendBirthdayName</td>
                                <td>
                                    @friendBirthday.FriendBirthdayDate.Value.ToString("MM/dd/yyyy")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            break;
        }
    }
}


